.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header_column {
    padding: 35px 0px 15px 15px;
}

.header_title {
    font-size: 20px;
    font-weight: bold;
}
.header__icon {
    padding-right: 15px;
}

.status_bar {
    width: 100%;
    position: fixed;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
}

.status_bar_time {
    font-size: 13px;
}

.status_bar_icons {
    font-size: 13px;
}