.profile {
    border-radius: 60%;
    width: 60px;
    height: 60px;
}


/*search.html*/
.search_main {
    padding: 15px;
}

.function {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid whitesmoke; 
}

.function____{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 15px;
}

.function_text {
    justify-content: space-around;
    font-size: 15px;
    font-style: unset;
}

._text {
    font-size: 13px;
    margin: 13px;
    opacity: 0.8;
}

.friends_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend_set {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    font-size: 15px;
    margin-left: 13px;
}

.add_friend {
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}

/* more.html */
.more_main {
    padding: 15px;
}

.mail_address {
    font-size: 12px;
    opacity: 0.8;
    margin-left: 13px;
    padding-top: 5px;
}

.comment {
    padding-right: 15px;
    font-size: 30px;    
}

.menu {
    padding: 7px;
    display: flex;
    border-bottom: 1px solid whitesmoke; 
}
.menu_icon {
    padding: 8px;
}
.menu_icon__ {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
}

.suggestion_text {
    font-size: 17px;
    margin: 13px;
    opacity: 0.8;
}

.suggestions {
    display: flex;
}

.suggestion_icon {
    padding: 8px;
}

.suggest_img {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.imgg {
    border-radius: 30%;
    width: 50px;
    height: 50px;
}

.suggest_text {
    font-size: 12px;
}

/* index.html */
.index_main {
    padding : 20px 15px 0px 15px;
}

.friends {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.friends__{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content {
    font-size: 12px;
    opacity: 0.8;
    padding-top: 5px;
}

.dates {
    font-size: 12px;
    opacity: 0.8;
}

/* friends.html */
.friends_main {
    padding : 20px 15px 0px 15px;
}

.plusfriends {
    border-top: 1px solid whitesmoke; 
    border-bottom: 1px solid whitesmoke;
}

.music {
    display: flex;
    align-items: center;
    padding: 0px 6px 0px 6px;
    font-size: 12px;
    border: 2px solid lightgreen;
    border-radius: 40%;
}
